@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap';

:root {
	--color-green: #00c46a;
	--color-dark: #242a2e;
	--color-light: #ececec;
}

.thin-scroll::-webkit-scrollbar {
	width: 10px;
}

.thin-scroll::-webkit-scrollbar-thumb {
	background-color: var(--color-green);
	border-radius: 20px;
}

.thin-scroll::-webkit-scrollbar-track {
	background-color: var(--color-light);
	border-radius: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Manrope', sans-serif;
	color: var(--color-light);
	font-weight: 400;
	font-size: medium;
	line-height: 1.6;
	background-color: var(--color-dark);
}

ul {
	list-style: none;
	padding: 0;
}
